[2021-03-07 11:04] ywj95 opened #1 "Looking forward to the source code"

[2021-03-15 12:30] arthurdouillard commented on #1
It's done :)

[2021-03-15 12:30] #1 closed

[2021-03-17 13:41] zhangchbin opened #2 "How to prepare the data?"
I noticed that there are some differences in data.
How can I prepare the data?

[2021-03-17 14:26] arthurdouillard commented on #2
You don't really have to prepare anything per se. For VOC and ADE you can use Cermelli's script which are in the `data` folder. For Cityscapes I've simply download the link they gave me (you need to send some request to Cityscapes org), and unzip all compressed files.

Then you need to specify in command line, which dataset you want and what is the DATA_ROOT.

[2021-03-17 14:33] zhangchbin commented on #2
Hi, this is my 'data' folder
![image](https://user-images.githubusercontent.com/35215543/111484459-be13fd00-8770-11eb-9e2f-7b45a1903601.png).
DATA_ROOT is 'data/'

[2021-03-17 15:01] arthurdouillard commented on #2
Then what? Do you have a specific error? I'm not sure what your problem is...

[2021-03-17 15:49] zhangchbin commented on #2
Thank you very much! I have solved this problem!

[2021-03-18 08:33] arthurdouillard commented on #2
Great! I'll to add more explanation in the readme if I can make it clearer.

Don't hesitate to open a new issue, if you have other problems :)

[2021-03-18 08:33] #2 closed

[2021-03-19 18:31] ygjwd12345 opened #3 "Reproduce problem on 15-1"
I reproduce 15-1 setting
the result is:
  | 1-15 | 16-20 | mIoU | all
mib | 35.1 | 13.5 | 29.7 | -
PLOP(reproduce train) | 64.94 | 20.77 | 53.90 | 55.16
PLOP(reproduce test) | 65.01 | 16.85 | 52.97 | 54.11
PLOP(paper) | 65.12 | 21.11 | 54.64 | 67.21
it is reasonable  for train but for add --test the result drops too much.

[2021-03-19 18:57] ygjwd12345 commented on #3
In other words, resutl is different  between the test after the whole training or  test it by using the same script and parameters but using the command --test

[2021-03-21 10:36] arthurdouillard commented on #3
Hello, thanks for your report, it's indeed weird. I haven't found it before because I was always re-training all steps.

I've made a hot fix where we always reload the saved weight (https://github.com/arthurdouillard/CVPR2021_PLOP/commit/381cb795d70ba8431d864e4b60bb84784bc85ec9) but I'll try to undertstand later why does it happen.

I've just re-run a 15-1 overlap plop and here are my results with

[2021-03-23 09:20] #3 closed

[2021-04-04 12:11] prabhuteja12 opened #4 "Filtering images"
Hi,

I'm looking at your code to `filter_images` in
[utils.py](https://github.com/arthurdouillard/CVPR2021_PLOP/blob/main/dataset/utils.py#L32). I see that the arguments to the lambda function are not used at all.

[code]

and I think the filtering codes can be simplified to `np.intersect1d`, right?

Is this correct?

[2021-04-04 12:24] arthurdouillard commented on #4
Hey,

This is snippet is from the code of https://github.com/fcdl94/MiB.

Yes, the lambda argument is not used, but because of late binding of the lambda the code still works. Sure intersect can probably work too.

You can do that and check that the generated indexes are the same :)

[2021-04-04 12:39] prabhuteja12 commented on #4
Cool. Thanks!

[2021-04-04 12:39] #4 closed

[2021-04-14 13:50] Nan-S opened #5 "Question about validation data"
Hello,
I have two questions about the validation data,
1) why the val_dst is using labels=list(labels),labels_old=list(labels_old), instead of the same as test_dst using labels=list(labels_cum)?
2) Why always save best model at the last iteration, how can we know the last iteration is always the best model?
https://github.com/arthurdouillard/CVPR2021_PLOP/blob/381cb795d70ba8431d864e4b60bb84784bc85

[2021-04-15 11:52] arthurdouillard commented on #5
Both are related to the original codebase there https://github.com/fcdl94/MiB and weren't code by me.

1. Both are debatable although I feel having access to all cumulated labels is a bit "cheating", making it too easy if for example we wanted to do early stopping (we don't).
2.  The comment is indeed misleading: we are simply checkpointing the model regularly (https://github.com/arthurdouillard/C

[2021-04-15 11:52] #5 closed

[2021-04-28 12:41] xyf159 opened #6 "环境报错"
请问你的CUDA版本是多岁，readme中torch1.7.1h和torchvision0.4.0不匹配，我运行一直报错。

[2021-04-28 12:55] arthurdouillard commented on #6
Ah! I'm 很高兴 that my poor skill in Chinese help me here, 我明白你说话的意思了

The version I'm currently using (but previous version as written in the readme should have work) is:

CUDA: 10.2
torch: 1.8.1+cu102
torchvision: 0.9.1+cu102

再见,

[2021-04-28 12:55] #6 closed

[2021-04-29 02:47] xyf159 commented on #6
Thank you for your reply, I wish you good health and look forward to your future work!&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "arthurdouillard/CVPR2021_PLOP"                                                                                    ***@***.***&gt

[2021-05-17 04:34] zhangchbin opened #7 "Reproducing the experiments on Cityscapes"
We cannot reproduce the performance on Cityscapes. What are your training details? We get the last mIoU is 49.73 on 11-1 task.
We set the initial learning rate as 0.01 and run 60 epochs. And we set the later learning rate as 0.001 and run 60 epochs.
The batch size is set to 24.

[2021-05-17 13:35] arthurdouillard commented on #7
I've uploaded the scripts used for these experiments in https://github.com/arthurdouillard/CVPR2021_PLOP/tree/main/scripts/cityscapesDomain.

[2021-05-18 07:10] zhangchbin commented on #7
Hi, @arthurdouillard
It seems that the code still has bugs.
For example, ```--pod``` does not work for ```spp_no_norm_local_pod```
![image](https://user-images.githubusercontent.com/35215543/118607312-012f3280-b7eb-11eb-8bac-a0ef791dcd48.png)

[2021-05-18 08:39] arthurdouillard commented on #7
Oh yeah, sorry about that. I made some name cleaning in the code, but I didn't update the script. I'll fix it today

[2021-05-18 19:03] arthurdouillard commented on #7
Hey, I've uploaded the new script. Sorry again for the inconvenience :)

[2021-05-18 19:03] #7 closed

[2021-05-19 11:03] HieuPhan33 opened #8 "Model weights become NaN in step 1 on VOC"
Hi,
Thanks for your contribution.
I have a problem when training PLOP on VOC dataset with setting 15-5.
After successfully training the model at step 0, I trained the model at the next step.
The model becomes NaN after few training iterations even at the first epoch.

Since the model M0 can be trained without any problem, I doubt that the distilling the knowledge of M0 to M1 might lead to a diverg

[2021-05-19 14:58] arthurdouillard commented on #8
The distillation is disabled for M0, don't worry about it.

You can get all the correct hyperparameter is you use ``--method PLOP``.
But if you want to do it by hand, don't forget that the Local POD is applied with a different factor for the logits through an option called ``--pod_options``:

https://github.com/arthurdouillard/CVPR2021_PLOP/blob/main/argparser.py#L53

As you can see the factor is

[2021-05-19 15:14] zhangchbin commented on #7
Hi, @arthurdouillard
we have re-trained the experiments on cityscapes, but we still cannot reproduce the results.
We trained the model on Cityscapes of 11-1 (10-1), but got the last mIoU 59.00.
<img width="746" alt="截屏2021-05-19 下午11 14 02" src="https://user-images.githubusercontent.com/35215543/118838016-ea2a3680-b8f7-11eb-99c1-9c66ced9ac59.png">

We use the command as follows:
[code]

[2021-05-20 01:37] zhangchbin opened #9 "The results about 11-1 on cityscapes"

[2021-05-20 01:39] zhangchbin commented on #9
And we also train the model of 1-1 (21 tasks) on cityscapes.
We get the mIoU = 34.60.

[2021-05-20 06:34] HieuPhan33 commented on #8
Hi Douillard,
thanks for your quick response.

I still have the problem when using the parameter `--method PLOP`. I did inspect the program. It does use `pod_factor=0.01` for early layers and use `pod_factor=0.0005` for the last layer.

Here is the command:
`python -m torch.distributed.launch --nproc_per_node=2 run.py --data_root /media/hieu/DATA/semantic_segmentation/PascalVOC12 --batch_size 12 -

[2021-05-20 07:33] zhangchbin commented on #9
Hi, @arthurdouillard
We have re-cloned the repo and re-trained the model on cityscapes, but we still cannot reproduce these experiments.
We have trained the model on 1-1 setting, and got the mIoU 34.66.

[2021-05-20 08:15] zhangchbin commented on #9
And I attach the results file.
![1-1](https://user-images.githubusercontent.com/35215543/118943766-86028380-b986-11eb-9a9d-2136d9d338e2.png)
![11-1](https://user-images.githubusercontent.com/35215543/118943866-9ca8da80-b986-11eb-9ae6-a2427700d6ec.png)

[2021-05-20 08:40] arthurdouillard commented on #8
It's curious because there are already other researchers who manage to runs those scripts without problems (actually they got even sligtly better results).

I'm rerunning multiple experiments right now.

I see that you don't use half precision (``--opt_level O1``). It may be the problem? I know that apex (the library behind half precision) is rescaling the loss.

[2021-05-20 08:52] zhangchbin commented on #9
Hi, we apply the standard-setting described as you, batchsize=12, gpus=2.
The results are: mIoU = 34.66, 58.86, described as above.

[2021-05-20 08:54] HieuPhan33 commented on #8
Yes, I see that no one is complaining this nan problem on github issues. This is a strange problem I admit.

I even tried setting pod_factor=0 to remove distillation loss, but then the model still gets nan exactly at iteration 21 of the first epoch.

I inspect the loss and model parameters at iteration 20. Epoch_loss is only 28, while many model weights are still small (less than 1.0).

At iterati

[2021-05-20 09:19] arthurdouillard commented on #9
My logs were for 1-1:
[code]

and for 11-1 (incorrectly called 10-1 in the code):
[code]

Nevertheless, I'm re-running once again my code. I'll keep you updated when I have results.

[2021-05-20 09:22] arthurdouillard commented on #8
Hum, I admit that I've always run my code with mixed precision, so that may be the reason. It's a bit ugly I guess, but I'm happy to know you don't have the NaN problem anymore.

I'm still available if you have any more issues. Good luck in your research!

[2021-05-20 11:17] HieuPhan33 commented on #8
Thanks Douillard, wish you all the best also.

Cheers.

[2021-05-20 13:59] arthurdouillard commented on #8
I've re-runned 15-5 and 15-1 with this repository code and scripts and code respectively:

[code]

[code]

So I think the problem was coming from the half precision.

[2021-05-20 13:59] #8 closed

[2021-05-20 14:28] zhangchbin commented on #9
Yeah, hope for your reply.

[2021-05-21 01:27] HieuPhan33 commented on #8
Hi Douillard, I have a question about the evaluation results.
From the output, which ones are the results for mIoU first, mIoU second, ..., mIoU last, avg mIoU and all mIoU?

When I view the tensorboard, I see test_mIoU_0 and test_mIoU_1 for step 0 and step 1. What are they corresponding to?

[2021-05-21 05:52] zhangchbin commented on #9
Hi, @arthurdouillard
Is there any progress now?

[2021-05-23 14:26] arthurdouillard commented on #9
I have trouble reproducing my results for Cityscapes-domain. I'm not sure why since I have logs (see my previous message) showing my reported performances.

I have updated the scripts for Cityscapes Domain with better results, sligthly above MiB and much higher than ILT, but still a bit lower than paper results.

For 11-1:

[code]

For 1-1:

[code]

If I find a fix I'll update the code base.

[2021-05-23 14:26] #9 closed

[2021-05-24 08:56] zhangchbin commented on #9
Hi, @arthurdouillard ,
Could you please re-open this issue? If we have some questions, we can ask for your help in this page.

[2021-05-25 04:36] fred206968 opened #10 "Loss is not converge"
While I am reimplementing your code with your setting given in the scripts folder, I found the results are a bit lower than the paper results(2%-5%). When I check the tensorboard for the loss, I found that from step 1, the loss is not converging and some of them are NaN.
![image](https://user-images.githubusercontent.com/55863008/119439805-b450dc00-bd55-11eb-8f11-50dbfaa97c93.png)

Have you ever r

[2021-05-25 08:12] arthurdouillard commented on #10
No I don't have this problem, but I'm going to need more info:
- what is the dataset? VOC?
- what is the setting? 15-5? 15-1?
- did you use mixed precision? It seems (see #8) that without the loss scaling of apex you may encounter problems

It can also helps if you give me the complete command or script used.

[2021-05-25 08:24] arthurdouillard commented on #9
Hey, I prefer to have atomic issues. For more questions please open a new issue. Thanks!

[2021-05-26 13:05] SkyLLine opened #11 "can't reproduce Ade20k and don't know the detail of Cityscapes."
Hi, sorry to disturb but i have a few questions as followed.
1) Maybe you have changed some details about the experiments over Cityscapes, since it seems like MiB cannot work on the Cityscapes because there are only GT without pseudo labels. I'd appreciate it if you can tell me what the exact details you have changed over these experiments.
2) I cannot reproduce the performance that you mentioned

[2021-05-26 13:19] arthurdouillard commented on #11
Hello,

1. I'm not sure to exactly understand your problem, MiB doesn't use pseudo-labels. But yes indeed, you cannot use UNCE / UNKD (as mentioned in the paper). Therefore MiB is just a classic KD model. I've pushed a script for MiB here: https://github.com/arthurdouillard/CVPR2021_PLOP/blob/main/scripts/cityscapesDomain/mib_cityscapesDomain_1-1.sh

2. It would help me if you gave me more informa

[2021-05-26 13:52] SkyLLine commented on #11
Hello,
1. Thanks for your sharing! What I really mean is that i wonder if you change any hyper-parameters or something else of the original code of MiB. Nevertheless, I will try this script later and i will contact you if i have meet other problems.
2. Actually I didn't reproduce 100-5, but the performance on 100-50 is quite aweful, it's only about 18.96 on Ade20k, maybe you can share your script

[2021-05-26 14:56] arthurdouillard commented on #11
2. Here is the script: https://github.com/arthurdouillard/CVPR2021_PLOP/blob/main/scripts/ade/plop_ade_100-50.sh . Training ADE is super slow, so you can re-use the initial checkpoint (first step, classes 0-100) that I've uploaded there https://github.com/arthurdouillard/CVPR2021_PLOP/releases/tag/v1.01 . There is instructions commented in the bash script to use weights for the initial task.

[2021-05-27 09:02] SkyLLine commented on #11
it seems that this script is for 100-10... not for 100-50 -:)

[2021-05-27 12:31] SkyLLine commented on #11
the score of the 100-50 is about 33.26 and here is my log:
INFO:rank0: Closing the Logger.
Last Step: 1
Final Mean IoU 33.26
Average Mean IoU 37.75
Mean IoU first 42.06
Mean IoU last 15.49
ade_100-50_PLOP On GPUs 0,1,2,3
Run in 78599s

[2021-05-27 14:24] #11 closed

[2021-06-02 07:17] fred206968 commented on #10
I use voc dataset and the task 19-1 and run the plop_19-1.sh for the implementation. The command line keeps outputting the warning message as following:
![image](https://user-images.githubusercontent.com/55863008/120439864-9585c180-c3b5-11eb-83f3-35652a6edfd1.png)
The loss is nan starting from step1

[2021-06-03 09:35] arthurdouillard commented on #10
I'm currently rerunning this script, I don't have much gpus right now, so I may have results in a few days. But I've just rerunned a quick iteration with one epoch per step and I didn't have your problem.

This setting (voc 19-1) has already been reproduced by others (with even better results), so I suspect there is problem on your side.

What are the versions of torch, torchvision, apex, and cuda

[2021-06-04 02:29] fred206968 commented on #10
Problem Solved. Thanks

[2021-06-04 08:41] arthurdouillard commented on #10
What was the problem?

Your solution may help others that encounter the same problem.

[2021-06-06 09:17] #10 closed

[2021-06-08 07:26] SkyLLine opened #12 "Asking for the data of ilt, mib and plop."
Hello,
Hope it'll not disturb you but I'm wondering if you can offer me the data(mIoU) of each step about ILT, MiB and PLOP on 15-5s as well as cityscapes? It's wonderful to follow your impressive work, but I still have to do some analysis over these data.

[2021-06-08 08:32] arthurdouillard commented on #12
Complete results with the format for each line:

[code]

# For VOC 15-5s (15-1):

## PLOP:

[code]

## MiB:
[code]

## ILT:

[code]

# Cityscapes-domain 1-1

About Cityscapes-domain, I have trouble reproducing the exact (or better) results in the paper, but they are still a bit above MiB and even more ILT (see https://github.com/arthurdouillard/CVPR2021_PLOP/issues/9#issuecomment-846571788).

 ##

[2021-06-08 08:32] #12 closed

[2021-06-09 05:31] fred206968 commented on #10
The problem is I install the apex without cpp extension

[2021-06-09 07:39] arthurdouillard commented on #10
Good to know, thanks!

[2021-06-28 09:20] fengjk12138 opened #13 "Asking for fine details about ADE."
Hello,
I wonder if you can provide me with the performance of your model on each part(1-100, 101-110, 111-120...) about ADE100-10, (1-50, 51-100, 101-150) about ADE50-50, hope you can help me. Thanks a lot.

[2021-06-30 11:10] fengjk12138 commented on #13
Hello,
If you can help us? Maybe the exact data will help us in following your impressive work!

[2021-07-01 09:28] arthurdouillard commented on #13
Hey,

Please be patient if I don't answer in 3 days.

# 100-10:

[code]

# 50-50

[code]

Each line is made of <task_id>,<mIoU of class 0>,...,<mIoU of class i>,<average mIoU>. Performance on yet unseen classes are symbolized by a `x`.

[2021-07-01 09:29] #13 closed

[2021-07-16 09:30] SkyLLine opened #14 "Asking for intermediary results of ILT and MiB in ADE overlap."
Hi,
Thanks for answering my issue. I wish you can provide me with the intermediary results of ILT and MiB in ADE overlap(100-10, 50-50). Thanks a lot!

[2021-07-16 11:43] arthurdouillard commented on #14
# ILT

## 100-50

[code]

## 50-50

[code]

## 100-10

[code]

[2021-07-16 11:46] arthurdouillard commented on #14
# MiB

## 100-50

[code]

## 50-50

[code]

## 100-10

[code]

[2021-07-16 11:46] #14 closed

[2021-08-08 10:40] qjadud1994 opened #15 "Extremely hard incremental scenario"
Thank you for your great work, PLOP!

As your code, we can reproduce the performance almost the same as your paper.

Additionally, we also conduct experiments on extremely hard incremental scenarios, such as 5-1 (16 steps) and 2-1 (19 steps).

for this, we add below lines on [task.py](https://github.com/arthurdouillard/CVPR2021_PLOP/blob/main/tasks.py)

[code]

However, during the training, the lo

[2021-08-09 12:33] arthurdouillard commented on #15
Hey,

1. I'm happy to see others people try hard scenarios with only 1 class at the time :D ! It's so important but so few people even try that...
2. Do you have mixed precision activated (relative to issue #8)?
3. Have you tried to add gradient clipping? https://pytorch.org/docs/stable/generated/torch.nn.utils.clip_grad_norm_.html You may have a problem of gradient explosion due to the LocalPOD l

[2021-08-12 03:29] qjadud1994 commented on #15
Thank you for your prompt reply!

2. we tried to both with amp and without amp. However, both showed the same divergence loss.
3. we did not try any other technique. we strictly follow the original implementation.

On 15-5, 19-1 tasks, we showed the `loss=nan` in a certain epoch, however, the loss returns back to normal value in the following epoch.
However, on 5-1 or 2-1 tasks, the `loss=nan` can

[2021-08-12 11:49] arthurdouillard commented on #15
Ok, I don't have a lot of GPUs right now for PLOP, so I may take a few days to sort this problem out.

I'll first try to reproduce it w/ 5-1, and then add gradnorm clipping to see if that solve the exploding loss.

I'll keep you updated.

[2021-08-13 12:24] arthurdouillard commented on #15
I got some results with 5-1:

[code]

Given the following script:

[code]

So I didn't have neither exploding loss (pod loss is around 7 at most), nor nan loss.

[2021-08-14 07:50] qjadud1994 commented on #15
Thank you for the experiment!

Actually, we thought the below log means the loss divergence, but that doesn't seem to be the case.

[code]

In fact, the reason for this question is that the performance of MiB is higher than PLOP in the hard scenario.
Currently, I analyze some class-incremental semantic segmentation methods in various scenarios.
For this, I measured the final mIoU (all) on three ha

[2021-08-18 11:49] arthurdouillard commented on #15
I'm not sure about that.

How many epochs did you used for both MiB and PLOP?

Regardless, PLOP (and its predecessor PODNet) seems to struggle to learn with small first task. That may be a reason.

Or you could tune the factor of the Local POD loss.

[2021-08-23 10:05] qjadud1994 commented on #15
I used 30 epochs following the default setting.

Lastly, could you give me some tips on which hyperparameters should I tune?

[code]

[2021-08-23 12:12] arthurdouillard commented on #15
You may want to try
- epochs: 10
- pod_factor: [0.1, 0.001]
- pod logits factor: [0.05, 0.005, 0.0001]

But again, that's just my intuition. If you get significantly better results with PLOP, please tell me about. I'd gladly add your hyperparameters to this repository =)

[2021-09-14 18:56] Sreeni1204 commented on #15
Hello @arthurdouillard, @qjadud1994,

I am facing a similar issue with a different task (4x5s). I was able to run the three tasks described in the paper 19-1, 15-5, 15-1 on the VOC dataset. Even there I had the issue of exploding loss but it was resolved after using the mixed-precision (--opt_level O1).

task:
"4x5s":
         {
             0: [0, 2, 4, 3, 5, 1],
             1: [16, 17, 18, 19,

[2021-10-08 03:01] Before-dawn-1 opened #16 "Hello, does this model support training on a single GPU"
**Describe the bug**
A clear and concise description of what the bug is.
ERROR:torch.distributed.elastic.multiprocessing.api:failed
**To Reproduce**

Dataset: VOC2012
Setting: ...
Command used or script used:
I tried two methods：
1. python -m torch.distributed.launch --nproc_per_node=1 run.py --data_root /home/before_dawn/Code/Dataset/VOCtrainval_11-May-2012/VOCdevkit/VOC2012 --batch_size 12 --dat

[2021-10-23 04:58] AI-student-wl opened #17 "Paper reproduction"
Hello, I have run your code model on my server. I know your code has completed the training and prediction, but I can't find the prediction picture in the file. Only the predicted score, my deep learning ability is limited, so I ask you for help on how to get the segmented image in the paper. Thank you.
My email: wlmail2021@163.com

[2021-10-25 15:32] #16 closed, assigned to arthurdouillard

[2021-10-26 13:24] #17 closed, assigned to nobody

[2021-11-03 07:58] HieuPhan33 opened #18 "Reproduce ADE20k 50-50"
Hi, I have trouble reproducing results for ADE20k 50-50.
Could you please share with me the script?

[2021-11-03 09:39] arthurdouillard commented on #15
I think the LocalPOD loss suffers from some instabilities, and needs gradient clipping. Not sure I can help more.

[2021-11-03 09:39] #15 closed

[2021-11-12 01:19] Richardych opened #19 "results of voc-15-5"
Hi,

I run your code on voc-15-5, and get:
`Final Mean IoU 69.35
Average Mean IoU 74.84
Mean IoU first 75.25
Mean IoU last 50.47`

however, the paper stated is:
`75.73 51.71 70.09 75.19`

why the results are different and poor than the paper stated?

[2021-11-12 17:14] arthurdouillard commented on #19
Paper vs your run:
- 75.73 vs 75.25
- 51.71 vs 50.47
- 69.35 vs 70.09
- 74.84 vs 75.19

The difference is always small (except maybe for old). It's probably due to the inherent randomness of the initialization (can change depending on cuda version, pytorch version, etc.).

I don't see that as a major difference. Have you look at 15-1 ?

[2021-11-15 09:04] #19 closed

[2021-11-18 03:23] mostafaelaraby opened #20 "Reproduce 15-1 setup on Pascal VOC"
**Describe the bug**
I tried to run the provided pascal VOC script using Apex optimization 01 and everything same as script except i was using a single GPU and hence changed the batch size to 24.
But I got the following results

|             | 1-15  | 16-20 | all   |
|-------------|-------|-------|-------|
| Paper    | 65.12 | 21.11 | 54.64 |
| Code results | 58.73 | 21.6  | 49.7  |

**To Reprodu

[2021-11-19 12:21] karlHolmquist opened #21 "Ade20k results - which splits was used"
Hi, thank you for providing the code, I have a few questions regarding the reported results in the paper.

I noticed that both PLOP and your MIB implementation significantly out-perform the original MIB implementation on the old classes and what you only provide the Ade20k weights trained on classes 1-100.

So my questions is, which splits did you average when calculating the Ade20k results. Both

[2021-11-19 14:22] arthurdouillard commented on #21
1. I've used only the original order (0 -> 149).

2. I'm based on the overlap setting (I discuss why it's more useful in the paper), so I've rerunned MiB (with their code) in the overlap setting because they only used the disjoint setting.

[2021-11-19 14:26] arthurdouillard commented on #20
Hey, I don't have a GPU large enough to try a batch size of 24 on a single GPU so I cannot test your command.

However, multiple people have been able to reproduce 15-1 when using 2 GPUs (https://github.com/arthurdouillard/CVPR2021_PLOP/issues/3). Can you try that?

[2021-11-19 14:28] arthurdouillard commented on #18
Hello, it should be the same script as the others, except the setting is changed.

[2021-11-19 15:58] karlHolmquist commented on #21
Thanks, that's how I understood the paper but I wasn't completely in that aspect, I agree that the overlapped setting is the more realistic one

[2021-11-19 15:58] #21 closed

[2021-11-24 16:07] mostafaelaraby commented on #20
After using 2 gpus i managed to reproduce the papers' results:
|             | 1-15  | 16-20 | all   |
|-------------|-------|-------|-------|
| Paper    | 65.12 | 21.11 | 54.64 |
| Code results 1 GPU| 58.73 | 21.6  | 49.7  |
| Code results 2 GPUs| 65.2 | 20.9  | 54.7  |

@arthurdouillard  but i was wondering what is the reason it can be reproduced only with 2 gpus and mixed precision?

[2021-11-24 17:26] mostafaelaraby commented on #20
- Inplace ABN sync is supposed to work in the same way with different number of GPUs
- For the learning rate i will try to tune it and see what if this helps replicating the papers' results

Thanks @arthurdouillard

[2021-12-17 10:33] fcdl94 commented on #8
HI @arthurdouillard.

One problem I found when running PLOP with mixed precision was the `classif_adaptive_factor`.
Sometimes, with mixed precision, the den becomes zero, producing a NaN value.
Summing to `den` a small eps (1e-6) solved the issue.

Hope it helps.

[2022-01-07 13:27] #18 closed

[2022-01-07 13:38] arthurdouillard commented on #15
@qjadud1994 @Sreeni1204 : @fcdl94 found the main source of instability, where the classif adaptive factor could be NaN.

I've fixed it, and the code should be more stable I hope: https://github.com/arthurdouillard/CVPR2021_PLOP/commit/b70fb8f32278f49cd0e611d0110c08334c2440a7

[2022-01-13 12:49] andreped opened #22 "TensorFlow version?"
Very interesting work! Some of the ideas you propose seem perfect for our applications and we are very interested in testing them :]

However, we are mostly using TF-Keras for ML, so I was wondering if you had an alternative implementation in this framework, or if anyone is trying to reimplement this code to this framework?

[2022-01-13 15:10] andreped commented on #22
@arthurdouillard I am using both frameworks myself, but for some applications I just find using Keras so much easier to use (at least for doing simpler stuff - then doing all the low-level stuff necessary with pytorch feels overkill). However with the introduction of [pytorch-lightning](https://github.com/PyTorchLightning/pytorch-lightning), I might be on the verge of choosing pytorch as my defaul

[2022-01-13 15:10] #22 closed

[2022-01-20 04:05] bit0123 opened #23 "Cityscapes Dataset Preparation"
I'm struggling to reproduce results on CityScapes dataset like others already reported the issue.
I found that in your paper you mentioned that with domain-incremental setting on CityScapes datasets you have used images from 21 cities in a particular order. However, after checking the dataset downloaded from [www.cityscapes-dataset.com](www.cityscapes-dataset.com), i only can se 18 cities in train

[2022-01-20 14:23] arthurdouillard commented on #23
Hey,

Thank you for your interest in our work.

1. Those three cities are in the val set. Note that while the original Cityscapes datasets use some cities as train, and other as val and test, I didn't: all cities belong to either train / val. The full order is given in the appendix of the paper (section A.3.). And for each city I used 80% for the training set (pick the val set from this), and 20%

[2022-01-20 15:07] #23 closed

[2022-01-21 12:27] arthurdouillard commented on #23
No problem! My code isn't the cleanest I must say :)

[2022-02-09 14:45] prachigarg23 opened #24 "Clarification regarding domain shift experiments on Cityscapes"
Hi @arthurdouillard, I really enjoyed reading your work! Thanks for bringing in the domain shift aspect of CSS. I have the following doubts in the implementation of ILT, MiB and PLOP for the domain shift experiments on Cityscapes (Table 5):

1. wrt PLOP: I'm assuming the pseudo labeling will not be applicable in these experiments as the label spaces are fixed in the domain incremental scenario. So

[2022-02-09 15:11] arthurdouillard commented on #24
Thank you for your interest in my work :)

1. Yes, you're right.
2. ILT has the KD (which is == as the kd of MiB in this very experiment) but also a MSE between features. see https://github.com/arthurdouillard/CVPR2021_PLOP/blob/4b4a0605b2afb84f988d246dee9a00e0c7517363/argparser.py#L34

I don't think I ever run the joint model on Cityscapes, you're right that it could be useful. If I find some spa

[2022-02-09 17:10] prachigarg23 commented on #24
Thank you for the prompt reply!

 - Thanks for the clarification, I guess I skipped the MSE in their best performing model.
 - Yeah I think the joint performance will indicate the actual difficulty of the domain IL scenario - the amount of forgetting, etc.

Actually I'm working on CSS on Cityscapes. I want to compare the drop in performance wrt base model against your method. Let me know if possib

[2022-02-17 19:19] jonasB00 opened #25 "NaNs on PLOP 15-5 setting on single GPU"
Hi,
I think i found a bug in your code. As others pointed out allready: You can get NaN values in your Network if you train on PLOP step 1. You can fix this problem if you use --opt_level 01. However, I wanted to edit apex out of your Code and thats when the NaNs become a real problem. I dont exactly know why, but apex seems to just skip these NaN values and carry on with training.

The problem ca

[2022-02-18 14:22] arthurdouillard commented on #25
Hey,

Have you tried the code with the epsilon added in the denominator? --> https://github.com/arthurdouillard/CVPR2021_PLOP/blob/main/train.py#L292

It should fix the problem

[2022-02-18 14:34] jonasB00 commented on #25
Hi,
no, I have not seen this version before. I will use it from now on. Thank you!

[2022-02-18 14:36] #25 closed, assigned to arthurdouillard

[2022-02-19 10:22] dipamgoswami opened #26 "Experiments on cityscapes dataset"
Hello @arthurdouillard, I enjoyed reading your paper. I have a few queries regarding the implementation using the cityscapes dataset.
1. I am reproducing the experiments for [plop_cityscapesDomain_1-1.sh](https://github.com/arthurdouillard/CVPR2021_PLOP/blob/main/scripts/cityscapesDomain/plop_cityscapesDomain_1-1.sh) .
I see that the method is specified as FT and not PLOP. I am unable to understan

[2022-02-19 22:25] arthurdouillard commented on #26
Hey,

Thank you for your interest in my work!

1. Because they are slight difference in domain-incremental, we don't need pseudo-labeling (nor UNCE for MiB), so I set by hand the options of PLOP, see https://github.com/arthurdouillard/CVPR2021_PLOP/blob/main/scripts/cityscapesDomain/plop_cityscapesDomain_1-1.sh#L19
2. In the domain-incremental cityscapes there are no class background, and all clas

[2022-02-19 23:35] dipamgoswami commented on #26
Thank you for the clarifications.
I see that you have merged the fake background class with the unlabelled class of cityscapes for the class-incremental setting. Makes sense.

[2022-02-20 14:43] #26 closed, assigned to nobody

[2022-02-24 09:15] Liuhao-128 opened #27 "predict and visualization"
**Describe the bug**
Hi , I have one question about how to predict a picture when finish the training stage, in other words, how to visualize the segmentation results in your code.
I have written a simple visualization .py  file, but when I load the model , I found that the model did not load successfully.
If it's convenient, I would appreciate it if  you could share your predict code.
We look for

[2022-02-24 14:34] congwei45 opened #28 "About apex=0.1"
I config the same pytorch, torchvision and cuda version with you, however, I can not install apex=0.1. Can you tell you how to install it in detail? Thank you!

[2022-02-25 12:00] arthurdouillard commented on #27
Hey, thank for youur interest in our work :)

Please look at this issue https://github.com/arthurdouillard/CVPR2021_PLOP/issues/17, I think it is what you're looking for right?

[2022-02-25 13:04] arthurdouillard commented on #28
Hello, thank for your interest in our work :)

I have written this in the readme:

[code]

Have you tried that? If it doesn't work, can you provide the error message?

[2022-02-25 13:13] Liuhao-128 commented on #27
thanks for your answer.
actually,  today I also setting the args.visulization =True and samples_number =10, the visualization results of the val_dataset on the tensorboard are available,
I will try this code（issue https://github.com/arthurdouillard/CVPR2021_PLOP/issues/17） as soon as possible, thanks again!

[2022-02-26 06:59] Liuhao-128 commented on #27
Hi, I have run the predict.py file in issue #17,  and get the results, the detail in the attachment, but i have some questions about that code.
1 this code confused me --old_model.module.in_eval = True, I commented directly since there is no old module to import or instance.
2 the Target part has an error  in this code: --target[~mask] = 0 , and
i don't understand the function of this part.  if i

[2022-02-27 13:31] arthurdouillard commented on #27
Hum, it depends on your version of pytorch I think for the mask.

Try casting the mask as boolean (`target[~mask.bool()] = 0`) or byte (`target[~mask.byte()] = 0`).

Try this command:

[code]

I think it should work :)

[2022-02-28 01:04] congwei45 commented on #28
![image](https://user-images.githubusercontent.com/93335349/155908467-9cab1918-39ea-447b-a3e6-8982c590ff14.png)

[2022-02-28 10:11] arthurdouillard commented on #28
I cannot tell you anything given that. Give the full logs output as written in the error message.

[2022-02-28 12:47] #28 closed, assigned to arthurdouillard

[2022-02-28 13:59] congwei45 opened #29 "About pretrained model"
As you write in readme "Since the pretrained are made on multiple-gpus, they contain a prefix "module." in each key of the network. Please, be sure to remove them to be compatible with this code (simply rename them using key = key[7:]) (if you're working on single gpu). "

If I use 2 gpus, i.e., --nproc_per_node=2, do I still need to modify the pretrained network?

[2022-02-28 15:37] arthurdouillard commented on #29
I don't think you need to do that in that case.

[2022-02-28 15:37] arthurdouillard commented on #28
If you found your error @congwei45, can you please tell me so I can help better future users?

[2022-03-01 03:22] congwei45 commented on #29
Thanks for your answer!

[2022-03-01 03:22] #29 closed, assigned to arthurdouillard

[2022-03-01 09:56] arthurdouillard commented on #24
Hey,

So I didn't re-run anything new as I didn't have time for it, but I found some results:

First of all in my follow up paper (https://arxiv.org/abs/2106.15287) I used for cityscapes the resolution 512x1024 while for the original paper (https://arxiv.org/abs/2011.11390) I've used 512x512 (which makes less sense because images are originally rectangle not square).

So with 512x1024, with 50 epo

[2022-03-01 09:56] #20 closed

[2022-03-01 09:56] arthurdouillard commented on #20
Don't hesitatee to reopen this issue if you have new findings. Best,

[2022-03-03 05:15] prachigarg23 commented on #24
Hi, thanks for getting back. Yeah actually I was trying to reproduce the 77% mIoU performance on Cityscapes as I need that for my experiments. I'm currently getting 70% and asked for PLOP's result to see incase it was 75%+. But I understand it depends on the learning schedule used so I'm trying to use the DeeplabV3 paper's hyperparameters.
Thanks for your help!

[2022-03-08 14:46] #27 closed, assigned to arthurdouillard

[2022-03-16 12:23] zhaoedf opened #30 "why there are attentions in ResNet?"
![image](https://user-images.githubusercontent.com/48846150/158588697-bad25a91-25e6-4d7f-b263-f86c8184bcd9.png)

why? at first i thought this might be related to inplace_abn, then i checked the paper of inplace_abn, found no relevant info.

[2022-03-16 13:21] arthurdouillard commented on #30
What I call `attentions` there is simply the ultimate feature maps of a resnet block (`mod*`) just before the ReLU.

For here `x = ReLU(att)`.

[2022-03-16 16:32] #30 closed, assigned to arthurdouillard

[2022-03-17 01:51] zhaoedf commented on #30
oh i understood, thanks

[2022-03-17 09:02] zhaoedf opened #31 "potential bug in datasets.utils (won't change behavior)"
**Describe the bug**
 potential bug (won't change behavior)

![image](https://user-images.githubusercontent.com/48846150/158774168-9336f101-dd48-47fe-8ce3-a511fc0d1b07.png)

should it be the "c" variable in the two red rectangles? though "cls" variable won't cause any bugs since the lambda can capture local variables, but this could be confused to some other people.

[2022-03-17 09:05] arthurdouillard commented on #31
Yes, you're right, that's something I also found in the original codebase but got to lazy to fix ahah

I'll try to find time today, to fix that

[2022-03-17 09:22] zhaoedf commented on #31
quick reply! thanks

[2022-03-17 09:22] #31 closed, assigned to arthurdouillard

[2022-03-22 12:59] zhaoedf opened #32 "what is label "255" in target ?"
![image](https://user-images.githubusercontent.com/48846150/159487401-0dacb74e-bf48-4491-9b2a-71b6d4214826.png)

label "255" seem like some kind of edge to me? what is it for?

[2022-03-23 07:36] arthurdouillard commented on #32
It's the "unknown" label commonly used in segmentation. This value is discarded both a train- and test-time.

Look at the `ignore_index` in the cross-entropy: https://github.com/arthurdouillard/CVPR2021_PLOP/blob/main/train.py#L76

[2022-03-23 07:36] #32 closed, assigned to arthurdouillard

[2022-03-23 08:25] zhaoedf commented on #32
dose this '255' exists in the original voc dataset? why not assign a specific label to these pixels or set it as bg?

you said this is commonly used in segmentation, where can i find more info? thx.

[2022-03-25 15:21] arthurdouillard commented on #32
It exists in the original VOC dataset. You could consider it as bg, but usually that's not-well defined pixels on the boundaries, so everyone discard it.

Hum, I'm not sure about ref for that, just look at any dataset, they all have that

[2022-03-27 09:02] zhaoedf commented on #32
i understood, thanks!

[2022-04-08 12:55] congwei45 opened #33 "Results about ADE100-50"
After I train ade100-50 according to your .sh, the results are as follows:
Last Step: 1
Final Mean IoU 29.67
Average Mean IoU 29.67
Mean IoU first 0.0
Mean IoU last 0.0
ade_100-50_PLOP On GPUs 0,1
Run in 61645s

And I want to know why, thank you!

[2022-04-18 02:34] gjiee opened #34 "The weight file is corrupted"
I click the link and it shows that the weight file is damaged. What is the reason? Can I upload it again? I am working on my graduation project and looking forward to your reply. Thank you!
**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-04-18 12:17] #33 closed, assigned to arthurdouillard

[2022-04-29 11:04] zhaoedf opened #35 "ade 100-10 reproduce"
i used the script you gave and i only got 24.xx final mIoU, i don't know if it is related to specific seed?

by the way, due to the limitation of gpu memory, i used 4 gpus with 4 batch each gpu, which was  equal to total batch size of 24, and the bn is iabc_sync, i thought that 4 gpus is not a issue?

any idea how i can reproduce your ade 100-10 results?

[2022-05-04 08:37] zhaoedf commented on #35
any ideas?
besides, i can't reproduce methods like ewc, PI and RWalk and i noticed their weight importance seemed to be large in the argparser.py

[2022-05-04 08:54] arthurdouillard commented on #35
Hey,

Sorry I cannot respond ealier, I'm a busy right now with the writing of my thesis manuscript.

1. I'm not sure about your results as when I gave you the script I got the results from the paper. https://arxiv.org/pdf/2203.05402.pdf this paper seems to have also reproduced my results (and even beat them). Normally the number of GPUs shouldn't affect the results, but in some situations it seems

[2022-05-04 08:59] zhaoedf commented on #35
1. sorry, it is 6 batchs actually, so the total batchs are still 24.
2. oh, i mean EWC/PI/RWalk on PASCAL, i got extreme low results compared to the paper.

so uh, can i say that at least you use the scripts and hyperparameters in the repo reproduce you paper results? if that so, i will find problems of my own then.
thx a lot!

[2022-07-10 06:47] prachigarg23 commented on #24
Hi, @arthurdouillard I have a small doubt. In the LwF and ILT experiments, loss_kd and loss_de have been set to 100, which I believe is the regularization factor for the soft cross entropy loss in the total loss. But in the LwF and ILT (ICCVW 2019) papers I saw that this loss balance weight is set to 1 not 100. Is there a reason for this? I was wondering if you could help resolve this confusion.

[2022-07-12 13:46] arthurdouillard commented on #24
For the baselines (like LwF and ILT) all hyperparameters (except number of epochs) are from Cermelli et al.'s MiB. I didn't tune them as Cermelli already tune them for segmentation (although not the same dataset I agree).

[2022-07-12 13:46] #24 closed, assigned to nobody

[2022-07-27 02:49] Ze-Yang opened #36 "Question regarding the validation process to pick the best model"
Hi, I find that the validation is done every epoch on the test set with only the current novel class annotations. However, it seems like the model will always be saved regardless of whether the validation mIoU gets better or not. That makes the validation totally in vain. Do you notice this problem? I think it was a legacy issue from MiB's code. Looking forward to your reply. Thanks.

[2022-07-27 03:07] Ze-Yang opened #37 "Try to reproduce voc 10-1 results"
I am trying to reproduce 10-1 results as shown in the table below. I notice a large gap of the old class mIoU between my reproduce result (38.82) and your reported one (44.03), roughly 5 percent points. I am wondering what will cause this problem. I run the experiments with 2 x RTX 3090 GPU. I follow your original implementation except for the cuda version. I am using cuda 11.3 because cuda 10.2 d

[2022-07-27 12:55] arthurdouillard commented on #37
I was using 2 V100 GPUs.

Do you also use the same batch size as me?

I know that the mixed precision could something give different results depending on the GPU/CUDA. Have you tried without it?

Unfortunately I have left my lab as I have finished my lab, and I don't have anymore those intermediary results.

[2022-07-27 12:57] Ze-Yang commented on #37
I have tried it on 2x RTX 2080Ti with cuda 10.2 (see [environment.txt](https://github.com/arthurdouillard/CVPR2021_PLOP/files/9198928/environment.txt) for the full environment). However, I got almost similar results as running with 2x RTX 3090. I think the cuda version and pytorch version does not affect the results that much. It still exists some gap (4.5 percent point) in the old class performan

[2022-07-27 12:59] arthurdouillard commented on #36
I don't do early stopping.

You can use this option https://github.com/arthurdouillard/CVPR2021_PLOP/blob/main/argparser.py#L146 to have on validation and find the best hyperparameters.

[2022-07-27 12:59] #36 closed, assigned to nobody

[2022-08-03 10:01] Ze-Yang commented on #37
@arthurdouillard May I know do you use different hyperparameter settings for different tasks, e.g., 10-1, 15-5, 15-1, etc.? Because I can reproduce the results for 15-1.

[2022-09-26 15:59] anouskashrestha opened #38 "Trying to reproduce cityscapes domain results"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

Dataset: City-scapes domain
Setting: 1-1 task
Command used or script used: I cloned the github repository and I was able to reproduce the results for FT(fine-tuning) method using the scripts. When I tried using PLOP method, after the task 0, I am getting the following error.
![image](https://user-images.git

[2022-10-30 23:08] Liuhao-128 opened #39 "About visualiztion on ADE20K"
**Describe the bug**
Hi, I have run the code on 50-50-50 setting on ade20k.
I want to know how to visualize on the verification set. If you have the corresponding code, can you provide it?

 Thank you for your work and look forward to your reply

**To Reproduce**

Dataset: ADE20K
Setting: 50-50-50